*{
    font-family: 'Open Sans', sans-serif;
}

.auth_main{
    background-image: linear-gradient(99deg, #ff70a6,
    #ff9770 40%, #ffd670 73%, #e9ff70); 
    height: 100vh;
    color: #f2f2f2;

}

.auth_logo{
    position: absolute;
    height: 8vh;
    top: 3vh;
}

.auth_title{
    position: absolute;
    top: 5vh;
    font-size: 8vh;
}

.auth_button{
    position: absolute;
    top: 23vh;
    right: 2.8vw;
    border-radius: 1px;
    color: #f2f2f2;
    width: 14vw;
    height: 4vh;
    background-color: #403D39;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.auth_main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 40vw;
    top: 35vh;
    background-image: linear-gradient(97deg, 
    #ff9770 40%, #ffb570 73%, #fcca5d);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    
    width: 20vw;
    height: 30vh;
}